.about-media {
  display: block;
  margin: 0;
  text-align: center;
  height: 100%;

  @media screen and (min-width: 768px) {
    margin: 0 0 40px 0;
    height: 20vh;
  }
}

.about-logo {
  height: 100%;
  width: auto;
  opacity: 1;
  transition: transform .3s ease-in;
  outline: none;

  &:hover {
    transform: scale(0.9);
  }
}

.about-text {
  margin-top: 2em;
}

.strobe {
  animation: strobe 100ms steps(1,end) 3;
  animation-play-state:running;
}

@keyframes strobe {
  50% {
    opacity:0;
  }
}

.about-artist {
  .content {
    padding-bottom: 1.5em;
  }
}
