.artist-block {
  position: relative;
  display: block;
  margin: 1em 0 2em;
  border-bottom: .1em solid white;
  padding-bottom: 2em;
}

.artist-media {
  display: block;
  margin: 10px 0 40px 0;
}

.artist-intro-image {
  width: 100%;
  max-width: 100%;
  height: auto !important;
}

.artist-name {
  position: relative;
  display: table;
  margin: 0 auto;
  padding: 10px;
  line-height: 1em;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Neutral BP'; //'Old Standard Regular';
  font-style: normal;
  font-weight: normal;
}

.about-section {
  .artist-name {
    background-color: #000;
    color: #fff;
  }

  &.secondary {
    @media screen and (max-width: 768px) {
      width: 100vw !important;
      height: auto;
      position: relative !important;
    }
  }
}

.artist-section {
  position: relative;
	display: block;
  background: black;
  color: white;
  width: 100vw;
	top: 0;
	z-index: 10000;
	overflow: scroll;
  height: auto;
  min-height: 100%;

  @media screen and (min-width: 768px) {
    position: absolute;
    height: 100vh;
    width: 75vw;
    max-width: calc(100vw - 16em);
    right: 0;
  }
}

.artist-content {
  height: 100%;
  width: 70%;
  position: relative;
  display: block;
	float: left;
  font-size: .9em;
  line-height: 1.3em;

  @media screen and (min-width: 1024px) {
    font-size: .7em;
  }

  @media screen and (min-width: 1440px) {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}

.artist-gallery {
  position: relative;
  display: block;
  width: 30%;
  height: 100%;
	float: left;
}

.artist-gallery-item {
	position: relative;
	width: 100%;
	height: auto;
}

.artist-story {
  padding: 0 1em;
  text-align: left;
	line-height: 1.3em;
	font-size: 1em;
  margin-bottom: 2em;
  text-align: justify;

  @media screen and (min-width: 768px) {
    padding: 0 2.5em;
    font-size: 1.2em;
  }
}

.artist-link {
  position: relative;
  display: block;
	margin: 0;
  text-decoration: none !important;
  font-style: normal !important;
  cursor: pointer !important;

  &:visited,
  &:link {
    color: white;
  	text-decoration: none;
  }
}

.secondary {
  .artist-link {
    display: inline-block !important;
    margin: .1em .1em 0 0 !important;
    font-size: .9em;
  }

  .artist-name {
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}

.social-media {
  text-align: center;
  width: 100%;
}

.social-link {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    img {
      filter: blur(0);
      opacity: .75;
      transform: scale(.85);
    }
  }

  img {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
    transition: transform .3s ease-in;
  }
}

.artist-logo {
  position: relative;
  display: block;
  -webkit-filter: invert(100%);
  filter: invert(100%);

  img {
    max-width: 100%;
    height: auto;
  }
}

.box {
  z-index: 10012;
  width: 15em;
  display: none;

  img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.instagram-post-options-container {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.45);
}

.instagram-post-image {
  position: relative;
  width: 15em;
  height: 15em;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    transform: translate(-50%,-50%);
  }

  img.portrait {
    height: auto;
    width: 100%;
  }
}

.instagram-post-options {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.instagram-post-option {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
}

.booking-info {
  width: 100%;
  padding: 3em 0 0;
  flex-grow: 1;
}

.about-artist {
  position: relative;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: all .3s ease-in;

  @media screen and (max-width: 768px) {
    position: absolute;
    display: block;
    top: 0;
  }
}

.is-faded {
  opacity: 0;
}
