.section {
  font-family: 'Neutral BP';
  display: block;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  font-size: 1em;
  line-height: 1.3em;
	cursor: pointer;
  height: 100%;
  width: 100vw;
  z-index: 9999;

  @media screen and (min-width: 768px) {
    display: table-cell;
    width: 25vw;
    min-width: 16em;
    height: 100vh;
    overflow: hidden;
		cursor: default;
  }
}

.slick-initialized {
  .section {
    float: left;
    min-height: 100vh;
  }

  .content-short {
    height: auto;
  }

  .content-long {
    display: block;
  }
}

.section-track {
  height: 100%;
  display: block;
  padding: 0;
  overflow: scroll; //hidden;
  position: relative;

  // to hide scrollbars
  padding-right: 1em;
  width: 100%;
}

.section-link {
	position: relative;
	display: block;
  cursor: pointer;
  text-align: center;

  &:visited,
  &:link {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 768px) {
    &:visited,
    &:link {
      cursor: default;
    }
  }
}

.publishing-section {
  background: rgb(128, 128, 128);
  color: white;

  p::selection,
  a::selection,
  h1::selection {
    background: transparent;
    color: transparent;
  }

  strong {
    background-color: #fff;
    color: #000;
  }
}

.digital-section {
  background: #dcf4fc;
  color: #000;

  p::selection,
  a::selection,
  h1::selection {
    background: transparent;
    color: transparent;
  }

  strong {
    background-color: #000;
    color: #fff;
  }
}

.digital-text {
  .columns {
    column-count: 3;
    display: flex;
    height: 3em;
  }
  .content-img {
    width: 100%;
    padding-top: .25em;

    a {
      height: 40px;
      width: auto;
      margin: 0 auto;
    }

    img {
      position: relative;
    }
  }

  em {
    position: relative;
    display: block;

    .content-img {
      img {
        transform: none;
        top: 0;
      }
    }

    a {
      margin: 0 auto;
    }
  }
}

.management-section {
  background: black;
  color: white;

  p::selection,
  a::selection,
  h1::selection {
    background: transparent;
    color: transparent;
  }

  strong {
    background-color: #fff;
    color: #000;
  }
}

.about-section {
  background: white;
  color: black;

  p::selection,
  a::selection,
  h1::selection {
    background: transparent;
    color: transparent;
  }

  strong {
    background-color: #000;
    color: #fff;
  }
}

.is-open {
  position: absolute;
  min-height: 100%;
  top: 0;
  opacity: 1 !important;
  z-index: 1000;
}

strong {
  position: relative;
  display: table;
  margin: 1em auto 0;
  padding: 10px;
  line-height: 1em;
  font-weight: normal;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-arrow {
	position: fixed;
	width: 1.5em;
	height: 40px;
	font-size: 1.5em;
	font-family: 'Courier Prime';
	line-height: 1.5em;
	letter-spacing: 0;
	top: 50%;
	z-index: 3000;

  &.slick-disabled {
    display: none !important;
  }
}
.slick-arrow.arrow-left {
	text-align: left;
	padding-right: 4px;
	padding-left: 6px;
	left: 0;
	right: inherit;
}
.slick-arrow.arrow-right {
	text-align: right;
	padding-right: 6px;
	padding-left: 4px;
	right: 0;
	left: inherit;
}

#triangle-left, #triangle-right {
		display: table;
		width: 0px;
		height: 0px;
		position: relative;
	}
	#triangle-left:before, #triangle-right:before, #triangle-left:after, #triangle-right:after {
		position: absolute;
		display: table;
		width: 1.5em;
		height: 1.5em;
	}
	#triangle-left:before {
		content: '\002F';
	}
	#triangle-left:after {
		content: '\002F';
		top: 16px;
		text-align: right;
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
	#triangle-right:before {
		content: '\002F';
		text-align: left;
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
	#triangle-right:after {
		content: '\002F';
		top: 16px;
		text-align: right;
	}

  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
