.section {
  font-family: 'Neutral BP';
  display: block;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
  font-size: 1em;
  line-height: 1.3em;
	cursor: pointer;

  &:hover {
    opacity: .7;
  }

  @media screen and (min-width: 800px) {
    display: table-cell;
    width: 25vw;
    min-width: 16em;
    height: 100vh;
    overflow: hidden;
		cursor: default;

    &:hover {
      opacity: 1;
  	}
  }
}

.section-track {
  height: 100%;
  display: block;
  padding: 0;
  overflow: scroll; //hidden;
  position: relative;

  /*@media screen and (min-width: 800px) {
    overflow: scroll;
  }*/
}

.section-link {
	position: relative;
	display: block;
  cursor: pointer;
  text-align: center;

  &:visited,
  &:link {
    text-decoration: none;
    color: inherit;
  }

  @media screen and (min-width: 800px) {
    &:visited,
    &:link {
      cursor: default;
    }
  }
}

.publishing-section {
  background: grey;
  color: white;
}

.digital-section {
  background: limegreen;
  color: black;
}

.management-section {
  background: black;
  color: white;
}

.about-section {
  background: white;
  color: black;
}

.is-open {
  position: absolute;
  min-height: 100%;
  top: 0;
  opacity: 1 !important;
  z-index: 1000;
}
