@font-face {
	font-family: 'Neutral BP';
	src: url('../fonts/NeutralBP.eot');
	src: url('../fonts/NeutralBP.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NeutralBP.woff2') format('woff2'),
		url('../fonts/NeutralBP.woff') format('woff'),
		url('../fonts/NeutralBP.ttf') format('truetype'),
		url('../fonts/NeutralBP.svg#NeutralBP') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Akzidenz-Grotesk Extended BQ';
	src: url('../fonts/AkzidenzGrotExtBQ-Regular.eot');
	src: url('../fonts/AkzidenzGrotExtBQ-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AkzidenzGrotExtBQ-Regular.woff') format('woff'),
		url('../fonts/AkzidenzGrotExtBQ-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Courier Prime';
	src: url('../fonts/courier_prime_italic-webfont.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Old Standard Regular';
	src: url('../fonts/OldStandardTT-Regular.eot');
	src: url('../fonts/OldStandardTT-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OldStandardTT-Regular.woff') format('woff'),
		url('../fonts/OldStandardTT-Regular.ttf') format('truetype'),
		url('../fonts/OldStandardTT-Regular.svg#OldStandardTT-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Old Standard Italic';
	src: url('../fonts/OldStandardTT-Italic.eot');
	src: url('../fonts/OldStandardTT-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OldStandardTT-Italic.woff') format('woff'),
		url('../fonts/OldStandardTT-Italic.ttf') format('truetype'),
		url('../fonts/OldStandardTT-Italic.svg#OldStandardTT-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}
