@mixin arrow-right($color) {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='40' viewBox='0 0 16 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EVector 3%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg id='Canvas' transform='translate(59 -174)'%3E%3Cg id='Vector 3'%3E%3Cuse xlink:href='%23path0_stroke' transform='translate(-58.5 174.5)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_stroke' stroke='#{$color}' d='M 14 19.5L 14.4062 19.7916L 14.6155 19.5L 14.4062 19.2084L 14 19.5ZM -0.406162 0.291603L 13.5938 19.7916L 14.4062 19.2084L 0.406162 -0.291603L -0.406162 0.291603ZM 13.5938 19.2084L -0.406162 38.7084L 0.406162 39.2916L 14.4062 19.7916L 13.5938 19.2084Z'/%3E%3C/defs%3E%3C/svg%3E");
}

@mixin arrow-left($color) {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='40' viewBox='0 0 16 40' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EVector 3%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg id='Canvas' transform='translate(60 -174)'%3E%3Cg id='Vector 3'%3E%3Cuse xlink:href='%23path0_stroke' transform='matrix(-1 -1.22465e-16 1.22465e-16 -1 -44.5 213.5)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_stroke' stroke='#{$color}' d='M 14 19.5L 14.4062 19.7916L 14.6155 19.5L 14.4062 19.2084L 14 19.5ZM -0.406162 0.291603L 13.5938 19.7916L 14.4062 19.2084L 0.406162 -0.291603L -0.406162 0.291603ZM 13.5938 19.2084L -0.406162 38.7084L 0.406162 39.2916L 14.4062 19.7916L 13.5938 19.2084Z'/%3E%3C/defs%3E%3C/svg%3E");
}

@mixin icon-close($color) {
background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg transform='translate%28-4558 -547%29'%3E%3Cg%3E%3Cuse xlink:href='%23path0_stroke' transform='translate%284559 548%29' fill='#{$color}'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_stroke' d='M -0.353553 0.353553L 7.14645 7.85355L 7.85355 7.14645L 0.353553 -0.353553L -0.353553 0.353553ZM 7.14645 7.85355L 14.6464 15.3536L 15.3536 14.6464L 7.85355 7.14645L 7.14645 7.85355ZM 14.6464 -0.353553L 7.14645 7.14645L 7.85355 7.85355L 15.3536 0.353553L 14.6464 -0.353553ZM 7.14645 7.14645L -0.353553 14.6464L 0.353553 15.3536L 7.85355 7.85355L 7.14645 7.14645Z'/%3E%3C/defs%3E%3C/svg%3E%0A");
}

.arrow {
	position: fixed;
	top: 48vh;
	height: 30px;
	width: 20px;
	background-position: 50%;
	background-repeat: no-repeat;
}

.arrow-left {
	left: 0;

	&.for-about,
	&.for-digital {
		@include arrow-left(#000);
	}
	&.for-management,
	&.for-publishing {
		@include arrow-left(#fff);
	}
}
.arrow-right {
	right: 0;

	&.for-about,
	&.for-digital {
		@include arrow-right(#000);
	}
	&.for-management,
	&.for-publishing {
		@include arrow-right(#fff);
	}
}

.close_icon {
	position: absolute;
	width: 35px;
	height: 35px;
	right: 0;
	z-index: 9;
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;

	&.for-about,
	&.for-digital {
		@include icon-close(#000);
	}
	&.for-management,
	&.for-publishing {
		@include icon-close(#fff);
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}
