#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2em);
  height: 100%;
  padding: 0 1em;
  opacity: 1;
  z-index: 99999;
  cursor: pointer;
}
#loader {
  display: block;
  position: absolute;
  height: 100%;
  width: calc(100% - 2em);
  text-align: center;
  z-index: 1001;
  overflow: hidden;
}

#loader-track {
  position: relative;
  height: 115vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30vw );
  grid-auto-flow: row;
  align-content: space-around;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, 18vw );
    grid-gap: 10px;
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}

.preloader-item {
  width: 20vw;
  margin: 0 auto;
  padding: 1em;

  img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    width: 12vw;
  }
}

.loaded #loader {
  opacity: 0;
  transition: all .4s ease;

}
.loaded #loader-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;
}
