@import '_fonts.scss';

html {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
}

body {
  font-family: 'Neutral BP';
  margin: 0;
}

strong {
  position: relative;
  display: table;
  margin: 1em auto 0;
  padding: 10px;
  line-height: 1em;
  font-weight: normal;
}

.is-hidden {
  display: none;
}

@import '_loader.scss';
@import '_section.scss';
@import '_content.scss';
@import '_about.scss';
@import '_artist.scss';
@import '_arrow.scss';
